<% include partials/header %>

<h1>FORM to add courses</h1>
<form action="/courses" method="POST">
<input type="text" placeholder="course name">
<input type="submit">
</form>

<% include partials/footer %>